:root {
  --primary-color: #ff6f3c;
  --secondary-color: #2c786c;
  --tertiary-color: #5c5470;
  --background-color: #ffffff;
  --link-padding: 10px 10px;
  --link-border-radius: 5px;
  --link-margin-top: 20px;
  --link-margin-bottom: 20px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

h1 {
  color: var(--primary-color);
  font-size: 50px;
  text-align: center;
}

h2 {
  color: var(--primary-color);
  font-size: 20px;
  text-align: center;
}

p {
  color: var(--tertiary-color);
}

.nav-link {
  color: var(--secondary-color) !important;
  line-height: normal;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

.active {
  font-weight: bold;
  border-left: 2px solid;
  padding-left: 14px;
}

.homepage-anchor-link {
  color: var(--secondary-color);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.homepage-anchor-link:hover {
  color: var(--primary-color);
}

.home-image {
  opacity: 0.2;
}

.img-container {
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer .email-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
  margin: 0 15px;
}
footer .social-links a:hover {
  color: var(--primary-color);
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
    margin-bottom: 0;
  }
  .homepage-anchor-link {
    font-size: 18px;
  }
 .centered {
  width: 90%;
 }
  footer .email-link {
    font-size: 18px;
  }
  footer .social-links {
    font-size: 18px;
  }
}
